# Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
/.vs
.vscode/
yarn.lock

# Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
nuget.exe

# NuGet
packages/
*.nupkg

# Test files
*.testsettings
*outputCobertura.xml
*xUnit-results.xml
*OpenCover-results.xml
*Cobertura-results.xml

# Ruby
/bin/
/.bundle/
*features-report*.html

# NodeJs
node_modules/
npm-debug.log
lib/

# OS files
Thumbs.db
.DS_Store

# Misc
.*.sw[a-z]
*.output
*.stdout
*.stderr
*.generated.*
log*
service.pid
package-lock.json
